@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.center {
  text-align: center;
}

.roi-form-section {
  display: flex;
  padding: 85px 5px;
  justify-content: center;
}

.noresult-image {
  max-width: 200px;
}

.list {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  overflow-y: scroll;
  margin: 85px 0px;
  border: 1px dashed blueviolet;

  .list-button {
    margin-top: 20px;
    position: sticky;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  };
}

.progress-images {
  max-width: 300px;
}

.modal {
  p{
    color: white;
  }
}

.card {
  margin-bottom: 5px;
}

.checkbox input[type=checkbox] {
  margin-right: 10px;
}
.progress {
  max-width: 400px;
  margin: 0 auto;
}

.value-score {
  background-color: #ffe6f7;
  p {
    font-size: 0.8em;
    color: grey;
    padding: 2px 10px;
  }
}

.roi-form {
  padding-top: 40px;
}

.roi-header {
  margin-bottom: 50px;
}

.confirmation-modal {
  p, .title {
    margin-bottom: 10px;
  }
  .modal-content {
    button {
      margin: 10px;
    }
  }
}

.button {
  &.is-excel {
    background-color: #1D6F42;
    color: white;
  }
}